@page
@model FinancialLiteracyTool.Pages.AdminPages.Questions.EditQuestionAreaModel
@{
}

<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1" id="LabelText">Edit Question Area</label>
    </div>
</div>

<form method="post">
    <input type="hidden" asp-for="Questions" />

    <div class="col-6 mt-2">
        <label asp-for="SelectedQuestionAreaID" class="form-label" id="LabelText">Question Area:</label>
    </div>

    <div class="col-12">
        <select asp-for="SelectedQuestionAreaID" asp-items="Model.Questions" class="form-control">
        </select>
        <span asp-validation-for="SelectedQuestionAreaID" class="text-danger"></span>
    </div>

    <div class="row my-2">
        <div class="col-12">
            <button type="submit" class="form-control btn btn-primary">Confirm Edit</button>
        </div>
    </div>
</form>