@page
@model FinancialLiteracyTool.Pages.AdminPages.Areas.AddAreaModel
@{
}

<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1" id="LabelText">Add Area</label>
    </div>
</div>