@page
@model FinancialLiteracyTool.Pages.AdminPages.StatsModel
@{
}
<div class="areas-container">
    <div class="row text-center">
        <div class="col-12">
            <label class="form-label fs-1" id="LabelText">Statistics Dashboard </label>
            <p class="text-muted">Overview of System Activity</p>
        </div>
        
        <!-- Stats Cards -->
        <div class="row text-center mb-4">

            <div class="col-md-4">
                <div class="card shadow p-3">
                    <h6>Total Users</h6>
                    <h2>--</h2>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow p-3">
                    <h6>Assessments Taken</h6>
                    <h2>--</h2>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow p-3">
                    <h6>Assessments Completed</h6>
                    <h2>--</h2>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow p-3">
                    <h6>Average Score</h6>
                    <h2>--</h2>
                </div>
            </div>

        </div>
    
    </div>
</div>